---
import Section from "./Section.astro"
---

<Section title="Sobre mí">
  <p>
    Soy un desarrollador frontend apasionado por la innovación tecnológica y comprometido con la entrega de soluciones de alta calidad. Poseo habilidades destacadas en HTML, CSS, JavaScript y frameworks modernos como Astro. Busco oportunidades para aplicar mis habilidades y contribuir al éxito de proyectos emocionantes en un entorno colaborativo.
  </p>

</Section>
