---
import Section from "./Section.astro";
---

<Section title="Educación">
  <ul>
    <li>
      <article>
        <header>
          <div>
            <h3>Universidad Técnica del Norte</h3>
          </div>

          <time>2021 - 2024</time>
        </header>

        <footer>
          <p>Ingeniero en Tecnologías de la Información</p>
        </footer>
      </article>
    </li>
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
